{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>

<body>
    {% include 'partials/_menu.html' %}
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Finalizar Venda</h2>
                    {% include 'partials/_alertas.html' %}
                </div>
                <form action="{% url 'finalizar_venda' venda.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group"><label><h4>Total : R$ {{ venda.valor_total }}</h4></label></div>
                    <div class="form-group">
                        <label>Modo de pagamento</label>
                        <div class="form-group">
                        <select id="modo_de_pagamento" name="modo_de_pagamento">
                          <option value="Cartão de Crédito">Cartão de Crédito</option>
                          <option value="Cartão de Débito">Cartão de Débito</option>
                          <option value="Dinheiro">Dinheiro</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group"><label>Valor Pago</label><input id="valor_pago" class="form-control" name="valor_pago" type="text" min="1" required></div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Enviar</button></div>
                </form>
            </div>
        </section>
    </main>
</body>

</html>
{% endblock %}