{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
{% include 'partials/_menu.html' %}

<body>
    <main class="page pricing-table-page">
        <section class="clean-block clean-pricing dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Estoque</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="table-responsive">
                            <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
                                <div class="container">
                              <form action="{% url 'buscar_produto' %}" class="form-inline" method="post">
                                  {% csrf_token %}
                                <input class="form-control mr-sm-2" type="search" name="buscar" placeholder="Procurar" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar</button>
                              </form>
                                    <a href = "{% url 'cria_produto' %}"><button type="button" class="btn btn-primary btn-sm">Adicionar Produto</button></a>
                                </div>
                            </nav>
                            <p></p>
                            {% include 'partials/_alertas.html' %}
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Produto</th>
                                        <th>Tamanho</th>
                                        <th>Quantidade</th>
                                        <th>Preço</th>
                                        <th>Funções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   {% if produtos %}
                                   {% for produto in produtos %}
                                    <tr>
                                        <td>{{ produto.codigo }}</td>
                                        <td>{{ produto.nome }}</td>
                                        <td>{{ produto.tamanho }}</td>
                                        <td>{{ produto.quantidade }}</td>
                                        <td>R$ {{ produto.preco }}</td>
                                        <td>
                                                <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{ produto.codigo }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                </svg>
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal{{ produto.codigo }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Você tem certeza que quer apagar o produto?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                    Não terá como recuperar
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                                      <a href = "{% url 'deletar_produto' produto.codigo %}"><button type="button" class="btn btn-primary">Apagar</button></a>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <a href = "{% url 'editar_produto' produto.codigo %}">
                                            <button type="button" class="btn btn-primary">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                                </svg>
                                            </button>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>


{% endblock %}